<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="factoryName" value="Enterprises.Framework.ChineseFactory"></add>
    <add key="AssemblyName" value="Enterprises.Framework"></add>
    <add key="TemplatePath" value="E:\ProjetCodes\GitHub\EnterpriseLibary\Test\Tempalte\"/>
    <add key="OutputPath" value="D:\Output\"/>
    <add key="LogFile" value="D:\log.txt"/>
    <add key="ConnectionStringName" value="SHIPING_OA"/>
  </appSettings>
  <connectionStrings>
    <add name="SHIPING_OA" connectionString="Data Source=192.168.0.99\sharepoint;Initial Catalog=SHIPING_OA;Persist Security Info=True;User ID=sa;Password=pass@word1" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="Enterprises.SuperWorkflow.Service.SuperWorkflowService" behaviorConfiguration="Enterprises.SuperWorkflow.Service.SuperWorkflowServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9530/SuperWorkflowService/"/>
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="netTcpBinding" contract="Enterprises.SuperWorkflow.Contract.Service.IWorkflowService">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Enterprises.SuperWorkflow.Service.SuperWorkflowServiceBehavior">
          <serviceThrottling maxConcurrentCalls="64" maxConcurrentSessions="10"/>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="False"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
