<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <connectionStrings>
    <add name="SHIPING_OA" connectionString="Data Source=192.168.0.99\sharepoint;Initial Catalog=SHIPING_OA;Persist Security Info=True;User ID=sa;Password=pass@word1" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="log4net.Config" value="Config\log4net.config"/>
    <add key="AD_Admin" value="Administrator"/>
    <add key="AD_Domain" value="ops.net"/>
    <add key="AD_Password" value="password"/>
    <add key="AD_Path" value="dc=ops,dc=net"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
