<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--客户端登录ESB系统所使用的账号-->
    <add key ="LoginServiceBusAccount" value ="NT AUTHORITY\SYSTEM"/>
    <!--客户端登录ESB系统所使用的密码-->
    <add key ="LoginServiceBusPassword" value ="pass@word1"/>
  </appSettings>

  <configSections>
    <sectionGroup name ="GoogleMailSetting" type ="Google Mail的相关配置">
      <section name="EMailSenderName" type="Domo.Yao"/>
      <section name="EMailSenderAddress" type="Domo.Yao.hangzhou@gmail.com"/>
      <section name="EMailSenderAccount" type="Domo.Yao.hangzhou"/>
      <section name="EMailSenderPassword" type="***"/>
      <section name="EMailPop3Server" type="imap.gmail.com"/>
      <section name="EMailPop3ServerPort" type="993"/>
      <section name="EMailSmtpServer" type="smtp.gmail.com"/>
      <section name="EMailSmptServerPort" type="587"/>
      <section name="EMailSmptNeedCheck" type="true"/>
      <section name="EMailEnableSSL" type="true"/>
    </sectionGroup>
  </configSections>
</configuration>