<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--客户端登录ESB系统所使用的账号-->
    <add key ="LoginServiceBusAccount" value ="NT AUTHORITY\SYSTEM"/>
    <!--客户端登录ESB系统所使用的密码-->
    <add key ="LoginServiceBusPassword" value ="pass@word1"/>

    <!--LDAPDNS名称-->
    <add key="LDAPDNSName" value="ops.net" />

    <!--LDAP公司名称，一般是第一级OU，指定是哪个公司-->
    <add key="LDAPCompanyName" value="password" />

    <!--LDAP管理帐号，不一定是管理员级别，可以是授予相应权限的帐户-->
    <add key="LDAPAdminAccount" value="administrator" />

    <!--LDAP管理帐号的密码-->
    <add key="LDAPAdminPassword" value="password" />

    <!--LDAP管理帐号的密码是否加密-->
    <add key="LDAPAdminPasswordEncrpyted" value="false" />
  </appSettings>

  <configSections>
    <sectionGroup name ="GoogleMailSetting" type ="Google Mail的相关配置">
      <section name="EMailSenderName" type="Domo.Yao"/>
      <section name="EMailSenderAddress" type="Domo.Yao.hangzhou@gmail.com"/>
      <section name="EMailSenderAccount" type="Domo.Yao.hangzhou"/>
      <section name="EMailSenderPassword" type="***"/>
      <section name="EMailPop3Server" type="imap.gmail.com"/>
      <section name="EMailPop3ServerPort" type="993"/>
      <section name="EMailSmtpServer" type="smtp.gmail.com"/>
      <section name="EMailSmptServerPort" type="587"/>
      <section name="EMailSmptNeedCheck" type="true"/>
      <section name="EMailEnableSSL" type="true"/>

      
    </sectionGroup>
  </configSections>
</configuration>