<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
  <system.serviceModel>
    <services>
      <service name="Enterprises.Framework.ServiceClient.TestService" behaviorConfiguration="Enterprises.Framework.ServiceClient.TestServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9530/TestService/"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" bindingName="NetTcpBinding_ITestService" bindingConfiguration="NetTcpBinding_ITestService" contract="Enterprises.Framework.ServiceClient.ITestService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Enterprises.Framework.ServiceClient.TestServiceBehavior">
          <serviceThrottling maxConcurrentCalls="640" maxConcurrentSessions="100" maxConcurrentInstances="100"/>
          <serviceMetadata httpGetEnabled="False"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ITestService">
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
